@charset 'UTF-8';
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';
.header-simulated {
    width: 100%;
    height: auto;
    padding: 16px 40px;
    border-bottom: 1px solid rgba(215, 216, 222, 0.6);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    svg {
        height: 40px;
    }
    nav {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            li {
                padding: 0 16px;
            }
        }
    }
}